<script>
   
    import { extent} from "d3-array";

    import { max } from "d3-array";

    import { area } from "d3-shape";
    
    import { scaleLinear } from "d3-scale";
   
    import { scaleTime } from "d3-scale";

    export let data = [];

 
       
    let total_electrity = data.map(d => d.total_electrity);

    let tatal_Gas = data.map(d => d.total_gas);
    
    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));
   
    
    
    const year= 2014;

    const xScale = scaleTime().domain(extent(dates)).range([0,240*(data.length/168) ])

    const yElectricity = scaleLinear().domain([0, max(total_electrity)]).range([80/2,0])
        
    
    const yGas = scaleLinear().domain([0, max(tatal_Gas)]).range([80/2, 80])
    
    const areaElec = area().x(d => xScale(new Date(year, 11, d.day, d.hour))).y0(yElectricity(0)).y1(d => yElectricity(d.total_electrity))

    const areaGas = area().x(d => xScale(new Date(year, 11, d.day, d.hour))).y0(yGas(0)).y1(d => yGas(d.total_gas))

      
  

</script>

<svg>
    
        <path d={areaGas(data)} fill="orange"/>

        <path d={areaElec(data)} fill="blue"/>
     
       
</svg>

<style>


    path {
        
        fill-opacity: 0.7;
                  
      }

</style>