
<script>
 
   import { onMount } from "svelte";

   import { json } from "d3-fetch";

   import Leafs from "./_design_3_Leafs.svelte";

  
  const width = 500;

  const height = 600;

  const margin = { top: 10, right: 10, bottom: 10, left: 10 };

  const innerWidth = width - margin.left - margin.right;

  const startweek=48;

  const n=2;

  // Getting the Data
  let data = null;

  onMount(async () => {
  
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  
  });

</script>


{#if !data}
<p>Data is loading ...</p>
{:else}
  <svg {width} {height}>

<!-- The line -->
    
    <line x1={width/2 - margin.left+10} y1={margin.top} x2={width/2 - margin.left+10} y2={height-125} />

    
    <g transform="translate({margin.left}, {margin.top})">
   
      <!-- The leafs -->
        
      <g transform="translate({(innerWidth/n)-margin.left},350) rotate(-15)">
        <Leafs data={data.filter(d => d.week == startweek)}/>
      </g>


      <g transform="translate({(innerWidth/n)+margin.left},275) scale(-1,1) rotate(-15)">
        
        <Leafs data={data.filter(d => d.week == startweek+1 )}/>
      </g>


      <g transform="translate({(innerWidth/n)-margin.left},200) rotate(-15)">

        <Leafs data={data.filter(d => d.week == startweek+2)}/>

        </g>

            
      <g transform="translate({(innerWidth/n)+margin.left},125) scale(-1,1) rotate(-15)">

        <Leafs data={data.filter(d => d.week == startweek+3)}/>

      </g>

      <g transform="translate({(innerWidth/2)-margin.left},50) rotate(-15)">

        <Leafs data={data.filter(d => d.week == startweek+4)}/>

      </g>  

   

   
  </svg>
{/if}

<style>

  
    line {
       
      opacity: 1;
      stroke: black;
      stroke-width:1;
    }
  
  
  </style>
  