<script>
  import { scaleLinear } from "d3-scale";

  import { onMount } from "svelte";

  import { json } from "d3-fetch";

 

// Defining Constants and Sizes 

  const clock = 15;

  const width = 700;

  const height = 270;

  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  
  const innerHeight = height - margin.top - margin.bottom;
 
  
  // Data 

  let data = [];

  onMount(async () => {

    data = await json("/data/daily_heating_cooling.json");

  });

  let Dataset = {};
  $: {
    data.forEach((d) => {

      if ( !(d.city in Dataset)){

        Dataset[d.city] = { "Maximum":0, "cooling":[],"heating":[]};
      }
      Dataset[d.city]["cooling"].push(d.cooling);

      Dataset[d.city]["heating"].push(d.heating);
    })
    for (let d in Dataset) {
      Dataset[d].Maximum = Math.max (Math.max (...Dataset[d].heating , Math.max (...Dataset[d].cooling) ) );
    }
  }

  //Scales

  $: scale = scaleLinear().domain([0,Math.max(...data.map((d) => d.heating))]).range([0, 80]);


  let genPath = (d, x, y, r) => {
   
    let path = " M ";
   
    let Angle = 0;
   
    scale = scaleLinear()
    .domain([0,r])
    .range([0, 70]);
   
    d.forEach((figure, idx) => {
   
      Angle = idx / 365 * 2 * Math.PI;
   
      path += " " + (x+scale(figure)*Math.sin(Angle)) + ' , ' + (y-scale(figure)*Math.cos(Angle));
   
    })
   
    return path +" Z ";
  
  }
  
</script>


<!-- positioning the numbers and drawing the lines -->
{#if !Dataset}
  <p>Data is loading ...</p>
{:else}
  <svg {width} {height}>
    
    <g transform="translate({margin.left}, {margin.top})">

     {#each Object.keys(Dataset) as city, city_idx}
     
     <g transform="translate({city_idx*(40+2*clock+2* 80)}, {clock})">
          <!-- Numbers  -->
          <text transform="translate({clock+ 75}, {innerHeight/2- 80-1})">0</text>

          <text transform="translate({clock+ 75}, {innerHeight/2+ 80+15})">6</text>

          <text transform="translate({clock+2* 80}, {innerHeight/2+6})">3</text>
         
          <text transform="translate({clock-8}, {innerHeight/2+6})" text>9</text>
             
          <circle cx={clock+ 80} cy={innerHeight/2} r={ 80} stroke="black"  fill="white" />          
                           
          <path d={genPath(Dataset[city]["heating"], clock+ 80, innerHeight/2, Dataset[city]["Maximum"])} stroke="darkred" />
          
          <path d={genPath(Dataset[city]["cooling"], clock+ 80, innerHeight/2,Dataset[city]["Maximum"])} stroke="darkblue" />
         
        </g>

      {/each}

    </g>

  </svg>
  
  {/if}

<style>


path {
  
    fill-opacity: 0;

  }


 
</style>
