
<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { brush } from "d3-brush";
  import { axisBottom, axisLeft } from "d3-axis";

  // Properties
  export let data = [];
  export let x = (data) => data.x;
  export let y = (data) => data.y;
  export let xLabel = "x";
  export let yLabel = "y";
  
  export let localSelectedPoints = [];

  export let globalSelectedPoints = [];


  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));


  const coordinate = [];
  data.forEach((datapoint) => {
    coordinate.push({ x: xScale(x(datapoint)), y: yScale(y(datapoint)) });
  });

  // BRUSHING

  let range = null;

  const getRange = ({ selection }) => {
    range = selection;
  };

  const myBrush = brush().on("end", getRange);
 

  let bru;
  $: select(bru).call(myBrush);




 
 
  if (localSelectedPoints.length == 0) {
    data.forEach((datapoint) => {
      localSelectedPoints.push(true);
    });
  }

  // Updating the points
  const Update = (newRange) => {
    localSelectedPoints.forEach((element, i) => {
      if (newRange == null) {
        localSelectedPoints[i] = true;
      } else {
        const Xdot = coordinate[i].x;

        const Ydot = coordinate[i].y;

        const Xmin = Math.min(newRange[0][0], newRange[1][0]);
        
        const Xmax = Math.max(newRange[0][0], newRange[1][0]);

        const Ymin = Math.min(newRange[0][1], newRange[1][1]);

        const Ymax = Math.max(newRange[0][1], newRange[1][1]);
      
        if (
          Xdot >= Xmin &&

          Xdot <= Xmax &&
          
          Ydot >= Ymin &&
          
          Ydot <= Ymax
        ) {
         
          localSelectedPoints[i] = true;
        } else {
          localSelectedPoints[i] = false;
        }
      }
    });
  };

  $: Update(range);
</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    <g bind:this={bru}>
      {#each data as data, i}
        <circle cx={coordinate[i].x} cy={coordinate[i].y} r={3} fill="steelblue" fill-opacity="0.5" stroke="steelblue"
          stroke-width="1.5" stroke-opacity="1" class:notSelected={!globalSelectedPoints[i]} />
      {/each}
    </g>

    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5} >{xLabel}</text
      >

    </g>

    <g use:yAxis>
      <text class="axisLabel" y={-margin.left + 10} x={-innerHeight / 2} transform="rotate(-90)">{yLabel}</text
      >
    </g>

  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
  circle.notSelected {
    stroke: gray;
    fill: gray;
    fill-opacity: 0.2;
    stroke-opacity: 0.5;
  }
</style>
