<script >
 
 export let selectedContinent = 'all';
 export let selectYear = 1800;
 const continents = ["all","europe","asia","americas","africa"];

function Year( ) {
    if (selectYear>2014) {selectYear =1800}
    else{selectYear++}
  }

  let loop;


  const Reset=( )=>{
      selectYear = 1800;
      clearInterval(loop)
      stop = true;
   }
  
  let stop = true;
  const Prog=( )=>{  
      if (stop) {
        loop=setInterval(Year, 50);
       stop=false;}
      else {
        stop=true;
        clearInterval(loop);
      }
    }
  
  </script>
  
  <div class="row" >



    <div class='col-4'>
      <button class="btn btn-primary" on:click={Prog}>{stop ? 'Start': 'Stop'}</button>
      <button class="btn btn-primary" on:click={Reset}>Reset</button>
    </div>

  

    <div class='col-5'>
      <label class="form-label col-sm-10"> Year: {selectYear} 
      <input type="range" class="form-range" min='1800' max='2014' bind:value={selectYear} />
      </label>
    </div>


    
    <div class='col-3'>
      <select class="form-select" bind:value={selectedContinent}>
        {#each continents as continent}
          <option>{continent}</option>
        {/each}
      </select>
    </div>
    
  </div>
  


