<script>
  let Count = 0;
  
  function CountClick(event) {
      Count += 1;
  }
  
  function ResetClick(event) {
      Count = 0;
  }
  
  </script>
  
  
  <button on:click={CountClick} class="btn btn-primary">
   
    Clicked {Count} times
  
  </button>
  
  <button on:click={ResetClick} class="btn btn-secondary">
   
    Reset
    
  </button>