<script>
  import {json} from "d3-fetch";
  import {onMount} from "svelte";
  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

let year = 1800; 
let continent = 'all'; 
let ContinentFilter;

  // Getting data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
  
function GetData (data, continent, year) { 
  const filter_year = data.filter(d => d.year == year);
  if (continent == 'all') {
    ContinentFilter = filter_year[0]['countries'];
  } else {
    ContinentFilter = filter_year[0]['countries'].filter(d => d.continent == selectedContinent);
  };
 return ContinentFilter
}
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div >
    <Scatterplot data={GetData(data, continent, year)} />
    <Controls bind:selectYear= {year} bind:selectedContinent={continent} {data} />
  </div>
{/if}

