<script>
  import {scaleLog} from 'd3-scale';
  import {select} from 'd3-selection';
  import {axisBottom} from 'd3-axis';

  // Array
   const values = [2, 4, 6, 7, 9];

  // Dimensions
  const width = 810;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 30, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const classS=values.map(d=>d.service)
  const scaleX = scaleLog().domain([1, 10]).range([0,800])
  
 function xaxis(element){
    let Axis_x=axisBottom(scaleX);
    select(element).call(Axis_x);
 }

</script>

<style>
circle{
  fill: steelblue;
}
</style>

<svg viewBox="0 0 {width} {height}">
  <text  x=0 y=0 transform=" translate(390,95)" fill="currentColor" style="font-size:0.65em;">x label </text>
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
    <circle cx={scaleX(datapoint)} cy="30" r=10 />
  {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:xaxis>
  </g>
</svg>