<script>
    import { onMount } from 'svelte';
    import Scatterplot from "./_ex_7_scatterplot.svelte";
    let ready;
    let dataAll=[];
    onMount(async () => {
    const dataAwait = await fetch('/data/gapminder.json');
    dataAll=await dataAwait.json();
    ready=true;
    });
</script>

{#if ready } 
<Scatterplot data={dataAll[0].countries} />
{:else}
<p>loading...</p>
{/if}